.d-flex {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.bg-black {
  background-color: black;
  box-shadow: 0px 0px 5px 5px rgb(145, 142, 142);
}

.bg-red {
  background-color: red;
  box-shadow: 0px 0px 5px 5px rgb(247, 150, 150);
}

.bg-yellow {
  background-color: yellow;
  box-shadow: 0px 0px 5px 5px rgb(250, 194, 109);
}

.bg-green {
  background-color: green;
  box-shadow: 0px 0px 5px 5px rgb(158, 243, 158);
}


.baloon {
  width: 100px;
  height: 120px;
  border-radius: 100%;
  position: relative;
  border: 1px solid rgb(202, 182, 182);
  cursor: pointer;
  transition: 0.5s;

  &::after {
    content: '';
    border: 1px solid rgb(202, 182, 182);
    position: absolute;
    top: 100%;
    left: 50%;
    height: 50px;
  }
}

.color-box {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    box-shadow: 0px 0px 20px 20px rgb(248, 245, 245);
    opacity: .5;
  }
}

.baloon-effect {
  height: 115px;
}
